[submodule "externals/SDL"]
	path = externals/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "externals/imgui"]
	path = externals/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "externals/NekoLib"]
	path = externals/NekoLib
	url = https://github.com/EliasFarhan/NekoLib.git
[submodule "externals/tracy"]
	path = externals/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/fmtlib/fmt.git

[submodule "externals/NekoPhysics"]
	path = externals/NekoPhysics
	url = https://github.com/EliasFarhan/NekoPhysics.git
[submodule "externals/spine-runtimes"]
	path = externals/spine-runtimes
	url = https://github.com/EsotericSoftware/spine-runtimes.git
[submodule "externals/SDL_ttf"]
	path = externals/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "externals/Catch2"]
	path = externals/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "externals/argh"]
	path = externals/argh
	url = https://github.com/adishavit/argh.git
